.top-strip {
  background-color: #5c4ac0;
}

.search-form {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 10px;
}

.photo-card {
  width: calc((100% - 120px) / 4);
  height: width;
  object-fit: cover;
  margin: 10px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.photo {
  height: 350px;
  object-fit: cover;
}

.js-btnContainer {
  width: 100%;
  text-align: center;
}

.load-more {
  color: #fffaf0;
  background-color: #5c4ac0;
  font-size: 30px;
  margin: 10px 0;
}


